name: Test CD
on:
  push:
    branches:
      - master
jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Hello ${{ github.actor }}!"
          echo "- in ${{ github.ref }}!"
  
  main_process:
    runs-on: ubuntu-latest
    needs: say_hello
    steps:
      - name: 检出分支
        uses: actions/checkout@v2.3.1

      - name: '输入hello，输出thx'
        uses: ./.github/actions/hello-world-action
        id: helloAction
        with:
          hello: 'hello ha'
      
      - name: 输出上一个step的返回值
        run: |
          echo ${{steps.helloAction.outputs.thx}}

      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      #   timeout-minutes: 30
